:root {
  font-size: 16px;

  &.dark {
    // TODO: variables
  }
  &.light {
    // TODO: variable
  }

  --font-color: #000;
  --dimmed-font-color: #4d4d4d;
  --base-color: #fafafa;
  --base-bright-color: #fff;
  --base-dimmed: #eee;
  --underline-color: #e5e5e5;
  --border-color: #333;
  --card-color: #F6F6F7;
  --green-text: green;

}

html {
  background: var(--base-color);
  color: var(--font-color);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell,
  "Helvetica Neue", sans-serif;
  padding: .8rem;
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}
// TODO: add light/dark whatever mode we want palette

.pull-right {
  margin-left: auto;
}

main {
  display: flex;
  flex-direction: column;
}