// TODO: change the font as soon as we get designs
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

body {
  font-family: 'Syne Mono', monospace;
  font-size: 16px;
  margin: 0;
  * {
    box-sizing: border-box; 
  }
}
// TODO: add light/dark whatever mode we want palette

#root {
  &.dark {
    // TODO: variables
  }
  &.light {
    // TODO: variable
  }

  --font-color: #000;
  --base-color: #fff;
  --base-dimmed: #eee;
  --border-color: #333;
}