// Roboto Mono
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,600;1,400&display=swap');

:root {
  height: 100vh;
  width: 100vw;
  font-size: 16px;

  &.dark {
    // TODO: variables
  }
  &.light {
    // TODO: variable
  }

  // TODO: add light/dark whatever mode we want palette

  --font-color: #000;
  --dimmed-font-color: #4d4d4d;
  --base-color: #fafafa;
  --base-bright-color: #fff;
  --base-dimmed: #eee;
  --underline-color: #e5e5e5;
  --border-color: #333;
  --card-color: #F6F6F7;
  --green-text: #219653;
  --red-text: #EB5757;
  --grey-text: #BDBDBD;

  --inactive-font-color: #666;

  --check-item-color: #357E31;
  --dismiss-item-color: #E03333;

  --grey-blue: #ECF1F7;
}

html {
  background: var(--base-color);
  color: var(--font-color);
}

body {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell,
  "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  overflow: auto;
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  #root {
    height: 100%;
  }

  .home-section {
    padding: .8rem;
    a.pay-balance-btn {
      display: block;
      background: var(--font-color);
      color: var(--base-color);
      text-decoration: none;
      padding: 1rem;
      width: 100%;
      margin: auto;
      text-align: center;
      border-radius: 6px;
    }
    h2.home-headline {
      margin-top: 1rem;
    }
  }
}

.pull-right {
  margin-left: auto;
}

main {
  display: flex;
  flex-direction: column;
  &.has-footer {
    padding-bottom: 4rem;
  }
}

a {
  color: inherit;
}