.avatar {
  user-select: none;
  border-radius: .5rem;
  color: white;
  font-weight: bold;
  width: 3.125rem;
  height: 3.125rem;
  min-width: 3.125rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.8rem;
  font-weight: 300;
}