.balance-container {
  max-width: 30rem;
  margin: auto;
  
  h4 {
    font-size: 1rem;
    margin: 0;
    font-weight: normal;
  }
  h2 {
    margin-bottom: 0;
  }
  
  .users {
    width: 100%;
    height: 100%;
    color: white;
    padding: .9rem .2rem;
    display: flex;
    flex-direction: column;
  
    .user {
      width: 100%;
      padding: .5rem;
      background: var(--card-color);
      margin: .2rem;
      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: var(--font-color);
        .user-name {
          margin-left: 1rem;
        }
      }
    }
  }
}
