.expense-sheet-container {
  #spreadSheetTabs {
    .headers {
      width: 100%;
      display: flex;
      list-style: none;
      .tab-header {
        flex-grow: 1;
        flex-basis: 0;
        text-align: center;
        padding: .5rem 0;
        color: var(---dimmed-font-color);
        border-bottom: 2px solid  var(--underline-color);
        font-size: .8rem;
        font-weight: 600;
        &.active {
          color: var(--font-color);
          border-bottom-color: var(--font-color);
        }  
      }
    }
    .tabs {
      .tab-content {
        display: none;
        &.active {
          display: block;
        }
      }
    }
  }





  // Card styles
  .entry {
    padding: 1rem;
  }
  .check-item {
    padding: 1rem;
    background: green;
  }
  .dismiss-item {
    padding: 1rem;
    background: red;
  }
}