.expense-sheet-list-container {
  width: 100%;
  padding: 1rem .8rem;
  .expense-sheet-list {
    list-style: none;
    padding: 0;
    margin: 0;
    .expense-sheet-item > a {
      display: flex;
      text-decoration: none;
      width: 100%;
      padding: .5rem;
      background: var(--base-bright-color);
      color: var(--dimmed-font-color);
      margin: .4rem 0;
      border-radius: 4px;
      & > * {
        margin: 0 .2rem
      }
      .sheet-info {
        display: flex;
        flex-direction: column;
        .details {
          font-size: 0.7rem;
        }
        .sheet-name {
          font-size: 1rem;
          color: var(--font-color);
        }
      }
      .sheet-state-badge {
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        .state {
          background: var(--dimmed-font-color);
          color: var(--base-bright-color);
          padding: .2rem .4rem;
          border-radius: .6rem;
          font-size: 0.6rem;
        }
      }
    }
  }

  a.pay-balance-btn {
    display: block;
    background: var(--font-color);
    color: var(--base-color);
    text-decoration: none;
    padding: 1rem;
    width: 100%;
    margin: auto;
    text-align: center;
    border-radius: 6px;
  }

  a.add-item-btn {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    margin: auto;
    text-align: center;
  }
}

