.group-manager {
  position: relative;
  width: 100%;
  padding: 2rem;
  .header {
    display: flex;
    align-items: center;
    
    .avatar {
      margin-left: auto;
      border-radius: 50%;
      color: white;
      opacity: 1; 
      content: attr(data-initials); 
      display: inline-block; 
      font-weight: bold; 
      vertical-align: middle; 
      width: 3.125rem; 
      height: 3.125rem; 
      line-height: 3.125rem; 
      text-align: center; 
    }
    .group-dropdown {
      select {
        font-size: 1.2rem;
        border: none;
        appearance: none;
      }
      .arrow-down {
        font-size: 1rem;
        padding: .2rem;
      }
    }
  }
}
