.pay-balances-container {
  max-width: 30rem;
  margin: auto;
  padding: 0.8rem;

  h4 {
    align-items: left;
    font-size: 1.375rem;
    margin: 0;
    font-weight: normal;
  }

  h3{
    font-size: 2.125rem;
  }
  
  h2 {
    margin-top: 4rem;
    align-items: left;
    margin-bottom: 0;
    display: flex;
  }

  .image-and-name {
    text-align: center;
    padding: 4rem;
    margin-bottom: .3rem;
    .image {
      border: 3px dotted var(--dimmed-font-color);
      padding: .5rem;
      width: fit-content;
      margin-bottom: 1rem;
      border-radius: 50%;
      display: inline-block;
      .avatar {
        width: 8rem;
        height: 8rem;
        font-size: 5.6rem;
        border-radius: 50%;
      }
    }
  }
  
  .user {
    width: 100%;
    height: 100%;
    color: white;
    padding: .9rem .2rem;
    display: flex;
    flex-direction: column;
    background: var(--card-color);

    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      color: var(--font-color);
      img {
        height: 3rem;
      }
      .user-name {
        margin-left: 1rem;
      }
    }
  }
}

